.tooltip-wrapper {
  position: relative;

  & .tooltip-desc {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s ease 0.2s;

    display: flex;
    padding: 8px;
    background-color: rgba(60, 60, 70, 0.8);
    flex-wrap: nowrap;
    color: white;
  }

  &:first-child:hover .tooltip-desc {
    opacity: 1;
  }
  &:first-child:not(:hover) .tooltip-desc {
    transition-delay: 0s !important;
  }
}
