$transition: (
  nav: (transition: (ease: (opacity: 0.4s,
        height: 0.4s,
        background-color: 0.4s))),
  wrap: (transition: (ease: (opacity: 0.5s,
        padding-top: 0.5s,
        margin-top: 0.5s,
        background-color: 0.5s))),
  logo: (transition: (transform: 0.4s,
      height: 0.4s,
      all: 0.4s))
);

$default: (
  height: 80px,
);

$scrolled: (
  height: 60px,
);
