@use "sass:string";
@use "sass:math";

$transition: (
  nav: (transition: (ease: (opacity: 0.4s,
        height: 0.4s,
        background-color: 0.4s))),
  wrap: (transition: (ease: (opacity: 0.5s,
        padding-top: 0.5s,
        margin-top: 0.5s,
        background-color: 0.5s))),
  logo: (transition: (transform: 0.4s,
      height: 0.4s,
      all: 0.4s))
);



$default: (
  height: 80px,
);

$scrolled: (
  height: 60px,
);

$min: (
  width: 400px,
  space: 300px,
  /* space: #{calc((100% - 800px) / 2)}, */
  /* space: math.unquote(calc((100% - 800px) / 2)), */
);

$max: (
  width: 1200px,
  space: 400px,
  /* space: #{calc((100% - 1200px) / 2)}, */
  /* space: calc((100% - 1200px) / 2), */
);

$space: (
  width: calc((100% - 1200px) / 2),
  max-width: 400px,
  min-width: 200px,
  padding: 0 20px,
  /* min-width: 300px */
);

$dark: (
  bg: (primary: #333,
    secondary: #666,
    tertiary: #888,
  ),
  text: (primary: #fff,
    secondary: #eee,
    tertiary: #ddd,
  ),
);
